/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}

html,
body,
#root {
  height: 100%;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

[data-slate-editor='true'] {
  background-color: #f7f7f7;
  padding: 0.5rem;
  box-shadow: inset 0 2px 4px 0 rgba(0, 0, 0, 0.06);
}

header {
  padding: 0.5rem;
}
